body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}



.message{

    margin: 1em auto;
    padding: 0.5em;
    border: 1px solid lightgrey;
    width: 70%;
    border-radius: 5px;


}
.message-info{
    background-color: #D0DEFC;
    padding: 5px;
    color: #5451A4;
    /*margin: 5px;*/
}

.message-success{
    --main-bg-color:#D6F2DC;
    background-color: var(--main-bg-color);
    padding: 5px;
    color:#4B8258 ;
    /*margin: 5px;*/
}

.message-warning{
    --main-bg-color:#D6F2DC;
    --text-bg-color:#9B8D44;
    background-color: var(--main-bg-color);
    padding: 5px;
    color:var(--text-bg-color) ;
    /*margin: 5px;*/

}


.message-error{
    --main-bg-color:#F4D4D7;
    --text-bg-color:#8D4050;
    background-color: var(--main-bg-color);
    padding: 5px;
    color:var(--text-bg-color) ;
    /*margin: 5px;*/

}

